/*
Theme Name: Green Score App
Theme URI: 
Author: Green Score App
Author URI: 
Description: Custom Theme for Green Score App Website
Requires at least: 6.6
Tested up to: 6.6
Requires PHP: 5.7
Version: 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: blockpress
Text Domain: green-score-app
Tags: 
*/
h1, h2, .varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul li, ol li, p{
    font-size:15px;
    line-height: 26px;
}
.top-search-box input, .top-search-box button{
    height:35px;
    min-height: 35px;
}
.top-search-box button{
padding: 5px 10px;
}
/* .top-search-box input::placeholder, .top-search-box div{
    background-color: #84B643;
} */

/* FAQ Yoast CSS */
.wp-block-yoast-faq-block {
    position: relative;
    width: 100%;
    border-top: none;
    outline: 0;
  }
  
  .wp-block-yoast-faq-block .schema-faq-section {
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .wp-block-yoast-faq-block .schema-faq-question:before,
  .wp-block-yoast-faq-block .schema-faq-question:active,
  .wp-block-yoast-faq-block .schema-faq-section.open {
    color: #ffffff;
    font-style: italic;
  }
  
  .wp-block-yoast-faq-block .schema-faq-section {
    top: 3px;
    background: #006231;
    color: #fff;
  }
  
  .schema-faq-question {
    padding-right: 16px;
    display: block;
    width: 100%;
  }
  
  .wp-block-yoast-faq-block .schema-faq-section .schema-faq-question:before {
    content: "+ ";
    right: 20px;
    position: absolute;
    font-size: 30px;
    line-height: 30px;
  
  }
  
  .wp-block-yoast-faq-block .schema-faq-section.open .schema-faq-question:before {
    content: "- ";
    right: 20px;
    position: absolute;
    font-size: 30px;
    line-height: 30px;
  }
  
  .schema-faq-answer {
    display: none;
    margin-bottom: 0;
    margin-top: 10px;
    background: #90C34C;
    font-style: italic;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
  }

  /* Icon */
.icon-phone, .icon-email, .icon-address{padding-left:25px;}
.icon-phone::before{
    position: absolute;
    margin-top: 3px;
    margin-left:-25px;
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_599_1262)%22%3E%3Cpath%20d%3D%22M10.3125%209.375C9.84375%209.84375%209.53125%2010.2734%209.375%2010.6641C9.21875%2011.0547%208.90625%2011.25%208.4375%2011.25C7.96875%2011.25%207.5%2011.0547%207.03125%2010.6641C6.5625%2010.2734%206.09375%209.84375%205.625%209.375C5.15625%208.90625%204.72656%208.4375%204.33594%207.96875C3.94531%207.5%203.75%207.03125%203.75%206.5625C3.75%206.09375%203.94531%205.78125%204.33594%205.625C4.72656%205.46875%205.15625%205.15625%205.625%204.6875C5.85938%204.45312%205.88867%204.12598%205.71289%203.70605C5.53711%203.28613%205.27344%202.87109%204.92188%202.46094C4.57031%202.05078%204.18945%201.69434%203.7793%201.3916C3.36914%201.08887%203.04688%200.9375%202.8125%200.9375C2.57812%200.9375%202.2998%201.08398%201.97754%201.37695C1.65527%201.66992%201.34766%201.99219%201.05469%202.34375C0.761719%202.69531%200.512695%203.01758%200.307617%203.31055C0.102539%203.60352%200%203.75%200%203.75C0%204.21875%200.107422%204.78516%200.322266%205.44922C0.546875%206.12305%200.837402%206.81396%201.19385%207.52197C1.55029%208.22998%201.94824%208.91113%202.3877%209.56543C2.83691%2010.2295%203.29102%2010.791%203.75%2011.25C4.20898%2011.709%204.77051%2012.1631%205.43457%2012.6123C6.08887%2013.0518%206.77002%2013.4497%207.47803%2013.8062C8.18604%2014.1626%208.87695%2014.4531%209.55078%2014.6777C10.2148%2014.8926%2010.7812%2015%2011.25%2015C11.25%2015%2011.3965%2014.8975%2011.6895%2014.6924C11.9824%2014.4873%2012.3047%2014.2383%2012.6562%2013.9453C13.0078%2013.6523%2013.3301%2013.3447%2013.623%2013.0225C13.916%2012.7002%2014.0625%2012.4219%2014.0625%2012.1875C14.0625%2011.9531%2013.9111%2011.6309%2013.6084%2011.2207C13.3057%2010.8105%2012.9492%2010.4297%2012.5391%2010.0781C12.1289%209.72656%2011.7139%209.46289%2011.2939%209.28711C10.874%209.11133%2010.5469%209.14062%2010.3125%209.375Z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_599_1262%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22white%22%20transform%3D%22matrix(1%200%200%20-1%200%2015)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    width:19px;
    height: 19px;
}
.icon-email::before{
    position: absolute;
    margin-top: 3px;
    margin-left:-25px;
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_599_1267)%22%3E%3Cpath%20d%3D%22M13.5522%203.61816C13.5522%203.61816%2013.5474%203.61816%2013.5376%203.61816C13.0591%203.61816%2012.6489%203.44727%2012.3071%203.10547C11.9653%202.76367%2011.7944%202.35352%2011.7944%201.875C11.7944%201.39648%2011.9653%200.986328%2012.3071%200.644531C12.6489%200.302734%2013.064%200.131836%2013.5522%200.131836C14.0405%200.131836%2014.4556%200.302734%2014.7974%200.644531C15.1392%200.986328%2015.3101%201.39648%2015.3101%201.875C15.3101%202.35352%2015.1392%202.76367%2014.7974%203.10547C14.4556%203.44727%2014.0405%203.61816%2013.5522%203.61816ZM13.5083%205.72754C13.9966%205.72754%2014.4116%205.896%2014.7534%206.23291C15.0952%206.56982%2015.2661%206.98242%2015.2661%207.4707C15.2661%207.94922%2015.0952%208.35938%2014.7534%208.70117C14.4116%209.04297%2013.9966%209.21387%2013.5083%209.21387C13.5083%209.21387%2013.5059%209.21387%2013.501%209.21387C13.4961%209.21387%2013.4937%209.21387%2013.4937%209.21387C13.0151%209.21387%2012.605%209.04297%2012.2632%208.70117C11.9214%208.35938%2011.7456%207.94922%2011.7358%207.4707C11.7358%206.98242%2011.9092%206.56982%2012.2559%206.23291C12.6025%205.896%2013.02%205.72754%2013.5083%205.72754ZM7.75146%203.61816C7.26318%203.61816%206.84814%203.44727%206.50635%203.10547C6.16455%202.76367%205.99365%202.35352%205.99365%201.875C5.99365%201.39648%206.16455%200.986328%206.50635%200.644531C6.84814%200.302734%207.26318%200.131836%207.75146%200.131836C7.75146%200.131836%207.75635%200.131836%207.76611%200.131836C8.24463%200.131836%208.65479%200.302734%208.99658%200.644531C9.33838%200.986328%209.51416%201.39648%209.52393%201.875C9.52393%202.35352%209.35059%202.76367%209.00391%203.10547C8.65723%203.44727%208.23975%203.61816%207.75146%203.61816ZM7.70752%205.72754C8.1958%205.72754%208.61084%205.896%208.95264%206.23291C9.29443%206.56982%209.46533%206.98242%209.46533%207.4707C9.46533%207.94922%209.29443%208.35938%208.95264%208.70117C8.61084%209.04297%208.20068%209.21387%207.72217%209.21387C7.7124%209.21387%207.70752%209.21387%207.70752%209.21387C7.21924%209.21387%206.8042%209.04297%206.4624%208.70117C6.12061%208.35938%205.94971%207.94922%205.94971%207.4707C5.94971%206.98242%206.12061%206.56982%206.4624%206.23291C6.8042%205.896%207.21924%205.72754%207.70752%205.72754ZM2.05322%203.61816C1.56494%203.61816%201.1499%203.44727%200.808105%203.10547C0.466309%202.76367%200.29541%202.35352%200.29541%201.875C0.29541%201.39648%200.466309%200.986328%200.808105%200.644531C1.1499%200.302734%201.56494%200.131836%202.05322%200.131836C2.5415%200.131836%202.95654%200.302734%203.29834%200.644531C3.64014%200.986328%203.81104%201.39648%203.81104%201.875C3.81104%202.35352%203.64014%202.76367%203.29834%203.10547C2.95654%203.44727%202.5415%203.61816%202.05322%203.61816ZM2.00928%205.72754C2.49756%205.72754%202.9126%205.896%203.25439%206.23291C3.59619%206.56982%203.76709%206.98242%203.76709%207.4707C3.76709%207.94922%203.59619%208.35938%203.25439%208.70117C2.9126%209.04297%202.49756%209.21387%202.00928%209.21387C2.00928%209.21387%202.00684%209.21387%202.00195%209.21387C1.99707%209.21387%201.99463%209.21387%201.99463%209.21387C1.51611%209.21387%201.10596%209.04297%200.76416%208.70117C0.422363%208.35938%200.246582%207.94922%200.236816%207.4707C0.236816%206.98242%200.410156%206.56982%200.756836%206.23291C1.10352%205.896%201.521%205.72754%202.00928%205.72754ZM2.03857%2011.2939C2.52686%2011.2939%202.94434%2011.4648%203.29102%2011.8066C3.6377%2012.1484%203.81104%2012.5586%203.81104%2013.0371C3.80127%2013.5254%203.62549%2013.9404%203.28369%2014.2822C2.94189%2014.624%202.53174%2014.7949%202.05322%2014.7949C2.05322%2014.7949%202.04834%2014.7949%202.03857%2014.7949C1.56006%2014.7949%201.14746%2014.624%200.800781%2014.2822C0.454102%2013.9404%200.280762%2013.5254%200.280762%2013.0371C0.280762%2012.5586%200.454102%2012.1484%200.800781%2011.8066C1.14746%2011.4648%201.56006%2011.2939%202.03857%2011.2939ZM7.75146%2011.2939C8.23975%2011.2939%208.65479%2011.4648%208.99658%2011.8066C9.33838%2012.1484%209.50928%2012.5586%209.50928%2013.0371C9.50928%2013.5254%209.33838%2013.9404%208.99658%2014.2822C8.65479%2014.624%208.23975%2014.7949%207.75146%2014.7949C7.75146%2014.7949%207.74658%2014.7949%207.73682%2014.7949C7.2583%2014.7949%206.84814%2014.624%206.50635%2014.2822C6.16455%2013.9404%205.99365%2013.5254%205.99365%2013.0371C5.99365%2012.5586%206.16455%2012.1484%206.50635%2011.8066C6.84814%2011.4648%207.26318%2011.2939%207.75146%2011.2939ZM13.5522%2011.2939C14.0308%2011.2939%2014.4434%2011.4648%2014.79%2011.8066C15.1367%2012.1484%2015.3101%2012.5586%2015.3101%2013.0371C15.3003%2013.5254%2015.1245%2013.9404%2014.7827%2014.2822C14.4409%2014.624%2014.0308%2014.7949%2013.5522%2014.7949C13.5522%2014.7949%2013.5474%2014.7949%2013.5376%2014.7949H13.5522C13.5425%2014.7949%2013.5376%2014.7949%2013.5376%2014.7949C13.0591%2014.7949%2012.6465%2014.624%2012.2998%2014.2822C11.9531%2013.9404%2011.7798%2013.5254%2011.7798%2013.0371C11.7798%2012.5586%2011.9531%2012.1484%2012.2998%2011.8066C12.6465%2011.4648%2013.064%2011.2939%2013.5522%2011.2939Z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_599_1267%22%3E%3Crect%20width%3D%2215.84%22%20height%3D%2215%22%20fill%3D%22white%22%20transform%3D%22matrix(1%200%200%20-1%200%2015)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    width:19px;
    height: 19px;
}
.icon-address::before{
    position: absolute;
    margin-top: 3px;
    margin-left:-25px;
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.49144%2014.9008C7.25847%2014.9008%207.04278%2014.7776%206.92439%2014.5771L6.20241%2013.3559C4.71992%2010.8497%203.31991%208.48276%202.84161%207.5227C2.49387%206.8096%202.31885%206.04827%202.31885%205.25499C2.31885%202.40279%204.63924%200.0823975%207.49144%200.0823975C10.3436%200.0823975%2012.664%202.40279%2012.664%205.25499C12.664%206.04777%2012.489%206.80894%2012.1442%207.51743C12.1401%207.52599%2012.1355%207.53455%2012.1311%207.54295C11.6435%208.51585%2010.2524%2010.8677%208.77998%2013.3565L8.05849%2014.5771C7.94011%2014.7776%207.72442%2014.9008%207.49144%2014.9008Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M7.49142%207.60316C6.09619%207.60316%204.96094%206.46807%204.96094%205.07284C4.96094%203.67761%206.09619%202.54236%207.49142%202.54236C8.88665%202.54236%2010.0217%203.67761%2010.0217%205.07284C10.0217%206.46807%208.88665%207.60316%207.49142%207.60316Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
    width:19px;
    height: 19px;
}
.icon-date{
  padding-left: 28px;
}
.icon-date::before{
  position: absolute;
  margin-top: -3px;
  margin-left: -63px;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2229%22%20viewBox%3D%220%200%2030%2029%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M28.125%202.68316L20.6184%202.68318V0.896486C20.6184%200.401178%2020.1989%200%2019.6809%200C19.163%200%2018.7434%200.401178%2018.7434%200.896486V2.68274H11.2434V0.896486C11.2434%200.401178%2010.8239%200%2010.3059%200C9.78797%200%209.36844%200.401178%209.36844%200.896486V2.68274H1.875C0.839531%202.68274%200%203.48554%200%204.47571V26.8879C0%2027.878%200.839531%2028.6808%201.875%2028.6808H28.125C29.1605%2028.6808%2030%2027.878%2030%2026.8879V4.47571C30%203.48596%2029.1605%202.68316%2028.125%202.68316ZM28.125%2026.8879H1.875V4.47571H9.36844V5.37892C9.36844%205.8742%209.78797%206.27541%2010.3059%206.27541C10.8239%206.27541%2011.2434%205.8742%2011.2434%205.37892V4.47616H18.7434V5.37937C18.7434%205.87468%2019.163%206.27585%2019.6809%206.27585C20.1989%206.27585%2020.6184%205.87468%2020.6184%205.37937V4.47616H28.125V26.8879ZM21.5625%2014.3375H23.4375C23.955%2014.3375%2024.375%2013.9359%2024.375%2013.441V11.648C24.375%2011.1532%2023.955%2010.7515%2023.4375%2010.7515H21.5625C21.045%2010.7515%2020.625%2011.1532%2020.625%2011.648V13.441C20.625%2013.9359%2021.045%2014.3375%2021.5625%2014.3375ZM21.5625%2021.5089H23.4375C23.955%2021.5089%2024.375%2021.1077%2024.375%2020.6124V18.8195C24.375%2018.3246%2023.955%2017.923%2023.4375%2017.923H21.5625C21.045%2017.923%2020.625%2018.3246%2020.625%2018.8195V20.6124C20.625%2021.1082%2021.045%2021.5089%2021.5625%2021.5089ZM15.9375%2017.923H14.0625C13.545%2017.923%2013.125%2018.3246%2013.125%2018.8195V20.6124C13.125%2021.1077%2013.545%2021.5089%2014.0625%2021.5089H15.9375C16.455%2021.5089%2016.875%2021.1077%2016.875%2020.6124V18.8195C16.875%2018.3251%2016.455%2017.923%2015.9375%2017.923ZM15.9375%2010.7515H14.0625C13.545%2010.7515%2013.125%2011.1532%2013.125%2011.648V13.441C13.125%2013.9359%2013.545%2014.3375%2014.0625%2014.3375H15.9375C16.455%2014.3375%2016.875%2013.9359%2016.875%2013.441V11.648C16.875%2011.1527%2016.455%2010.7515%2015.9375%2010.7515ZM8.4375%2010.7515H6.5625C6.045%2010.7515%205.625%2011.1532%205.625%2011.648V13.441C5.625%2013.9359%206.045%2014.3375%206.5625%2014.3375H8.4375C8.955%2014.3375%209.375%2013.9359%209.375%2013.441V11.648C9.375%2011.1527%208.955%2010.7515%208.4375%2010.7515ZM8.4375%2017.923H6.5625C6.045%2017.923%205.625%2018.3246%205.625%2018.8195V20.6124C5.625%2021.1077%206.045%2021.5089%206.5625%2021.5089H8.4375C8.955%2021.5089%209.375%2021.1077%209.375%2020.6124V18.8195C9.375%2018.3251%208.955%2017.923%208.4375%2017.923Z%22%20fill%3D%22%23858484%22%2F%3E%3C%2Fsvg%3E");
  width:19px;
  height: 19px;
  padding-left: 28px;
}

@media screen and (max-width: 820px) {
    .site-logo{
        width:120px;
    }
    .gsa-menu-header .wp-container-core-group-is-layout-3{
        align-items: normal !important;
        padding: 0 15px;
    }
    .top-social-icons{
        display: none !important;
    }
    #topbar, .topnar{
        padding:15px;
    }

    .gsa-menu-header nav {
        background: #006231;
        padding: 10px !important;
        height: 51px;
        border-radius: 5px;
    }
    /* .gsa-menu-header .site-logo:first-child{
        order: 1;
    } */

    .gsa-menu-header nav:nth-child(2){
        order: 3 !important;
    }
    .gsa-menu-header .wp-block-group:last-child{
        order: 4 !important;
    }
    .icon-phone::before, .icon-email::before, .icon-address::before{margin-left:-20px !important;}
}