.footer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(132, 179, 73);
    padding: 2rem 10rem 0rem 10rem;
    bottom: 0%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding: 5% 15%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    color: rgba(247, 255, 239);
    width: 100%;
}
.icons-temp{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.content{
    color: rgba(247, 255, 239);
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.row h3{
    margin-bottom: 15px;
}
.row p{
    cursor: pointer;
}
.bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bottom i{
    font-size: 2rem;
}

.right img{
    bottom: 0;
    right: 0;
    width: 600px;
    height: 400px;
} 

@media (max-width: 1249px) {
    .footer1 {
        padding: 2rem 0 2rem 5rem; 
        height: auto;
        min-height: 70vh;
    }

    .right {
        width: 40%; 
        flex-shrink: 0;
    }

    .right img {
        width: 100%;
        max-width: 500px;
        height: auto; 
    }
}



@media (max-width: 900px) {
    .footer1 {
        padding: 2rem 2rem 0 2rem; 
        height: auto;
        gap: 1rem; 
    }

    .footer {
        flex: 2; 
        width: auto; 
    }

    .right {
        flex: 1; 
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .right img {
        width: 100%; 
        max-width: 350px;
        height: auto; 
        margin-bottom: -40vh;
    }
}

@media (max-width: 1249px) and (min-width: 901px) {
    .footer1 {
        padding: 2rem 2rem 2rem 2rem; 
        height: auto;
        min-height: 70vh; 
        display: flex;
        flex-direction: row;
        align-items: flex-end; 
        gap: 1rem;
    }

    .footer {
        flex: 2; 
        width: auto;
    }

    .right {
        flex: 1; 
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
       
    }

    .right img {
        display: block;
        bottom: 0;
        width: 100%;
        max-width: 400px; 
        height: auto;
        margin-bottom: -10vh;
    }
}



@media (max-width: 601px) {

    .footer1 {
        padding: 1rem 1.5rem 0 1.5rem;
        height: auto;
    }
    i{
        display: block;
    }

    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .content {
        /* flex-direction: column; */
        gap: 2rem;
    }

    .row h3 {
        font-size: 1rem; 
    }

    .row p {
        font-size: 0.9rem; 
    }

    .bottom i {
        font-size: 1.2rem; 
    }

    .right img {
        display: none;
    }
    
   
}

