:root{
    --light-text : #adb5bd;
}
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loginForm{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f1faee;
}
.loginForm form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}
.loginForm form input{
    padding: 15px 20px;
    width: 300px;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
    border: 1px solid var(--light-text);
   
}
button{
    padding: 15px 20px;
    color: black;
    background-color: rgba(132, 179, 73);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    color: white;
}
button:hover{
    transform: translateY(-5px);
}
input::placeholder{
    color: black;
    letter-spacing: 1px;
}
.loginForm form input:focus{
    border: 2px solid rgba(1, 135, 41, 0.8);
    outline: none;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.form{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 4px 7px 10px rgba(0,0,0,0.1);
    gap: 1rem;
}
.form h1{
    letter-spacing: 1.5px;
}
.form p{
    color: var(--light-text);
}
.formimage{
    height: 500px;
    width: 500px;
    background: linear-gradient(rgba(132, 179, 73,0.9), rgba(132, 179, 73,0.9)),
    url('../Assets/backgroundLogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;

}
.formimage h1{
    font-size: 3rem;
}
.formimage p{
    font-size: 1.3rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 0rem 2rem;
    text-align: center;

}
 

:root {
  --light-text: #adb5bd;
}
/* 
.loginForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f1faee;
  gap: 2rem;
}  */
@media (max-width: 800px){
    .loginForm{
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem;
    }
}

@media screen and (max-width: 900px) {
  

  .form,
  .formimage {
    height: 400px;
    width: 400px;
  }

  .form h1 {
    font-size: 1.5rem;
  }

  .formimage h1 {
    font-size: 2rem;
  }

  .loginForm form input {
    width: 250px;
    padding: 12px 16px;
  }

  button {
    padding: 12px 16px;
  }
}


@media screen and (max-width: 500px) {
  .loginForm {
    flex-direction: column-reverse; 
    padding: 1rem;
  }

  .form,
  .formimage {
    width: 100%;
    height: 500px;
    box-shadow: none;
  }

  .form {
    gap: 1rem;
    padding: 1rem;
  }
  .form h1{
    font-size: 1.7rem;
  }

  .loginForm form {
    gap: 1rem;
  }

  .loginForm form input {
    width: 300px;
    padding: 10px 14px;
  }

  button {
    width: 300px;
    padding: 10px 14px;
  }

  .formimage h1 {
    font-size: 2rem;
  }

  .formimage p {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

